* { 
    box-sizing: border-box; 
    font-family: malgun gothic; font-size: 14px; 
    -webkit-tap-highlight-color : transparent; /* 모바일에서 터치시 기본 파란색 효과 제거 */
}

html, body { 
    width: 100%; height: 100%; margin: 0; 
    overscroll-behavior: contain; /* disable pull_to_refresh 화면 끌어 내리면 새로고침되는 것 막음. iOS는 안됨. 크롬/삼성브라우저 OK */
    -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
    -moz-text-size-adjust : none;  /* 파이어폭스 */
}

/* 1) 모바일 크롬에서 탭하면 하단에 '검색결과를 보려면 탭하세요'라고 뜨는 것 방지 
   2) 텍스트 long hold (복사 메뉴 등) 방지 : 이미지는 js로 load시 막아야 하는 부분 있을 것이므로 크롬, 사파리 테스트 필요 */
div, span, img {
    -moz-user-select: none;
    -webkit-user-select: none; /* Safari */    
    user-select: none; /* Standard syntax */
}

input { height:28px;padding-left:5px;padding-right:5px }
input[type="search"] { -webkit-appearance:textfield;box-sizing:content-box } /* solution for search type not worked with height */
input[type="checkbox"] { width:16px;height:16px;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none;background-size:16px 16px;outline:1px solid darkgray }
input[type="checkbox"]:checked { width:16px;height:16px;background:white url('/img/selecton_orange.png') no-repeat;background-size:16px 16px;background-position:50% 50%;outline:none }

button { margin-left: 5px }

/* 해당 tag id에 transition 적용시 안됨 (transition-property: opacity; transition-duration: 1000ms; transition-timing-function: linear; transition-delay: 500ms) */
.coActive:active { opacity: 0.5 }

.coImg12 { width: 12px; height: 12px; vertical-align: middle; cursor:pointer }
.coImg16 { width: 16px; height: 16px; vertical-align: middle; cursor:pointer }
.coImg20 { width: 20px; height: 20px; vertical-align: middle; cursor:pointer }
.coImg24 { width: 24px; height: 24px; vertical-align: middle; cursor:pointer }
.coImg32 { width: 32px; height: 32px; vertical-align: middle; cursor:pointer }

.coNav { flex-grow:1;display:flex;align-items:center;justify-content:center;background-color:white;border-right:1px solid #cccccc;font-weight:bold;text-shadow:none;cursor:pointer }
.coNavSelected { background:#005192;color:white }

.coMainPage { max-width:800px;width:100%;height:100%;display:flex;flex-direction:column;background-color:#eaeaea;margin:0 auto } 
.coMenuTop { height:50px;display:flex;align-items:center;margin:0px 5px }   
.coMenuBtn { 
    height: 32px; padding:0px 5px; margin-left: 8px;
    display: flex; flex: none; align-items: center; 
    background-color: #0082AD; color: white; border-radius: 4px; cursor: pointer; 
}
.coFrList { flex:1;display:flex;overflow-y:auto;margin:0px 5px } /* coFrList안에 아래 coList말고 다른 것도 있을 수 있다는 가정하에 만들어 놓은 것임 */
/* .coList { flex:1;background-color:white;border:1px solid darkgray;overflow-y:auto } */
.coMenuBottom { height:50px;display:flex;align-items:center;margin-top:auto;margin-right:5px;margin-left:5px }

.coSpanWithImg { margin-left: 3px } /* 이미지와 span사이의 간격 지원 */

.coDotDot { 
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}

.coImgMenu { width:24px;height:24px;vertical-align:middle;cursor:pointer;margin-right:5px } /* 0086cd(more blue) */
.coImgMenu14 { width:14px;height:14px;vertical-align:middle;cursor:pointer;margin-right:5px } /* 0086cd(more blue) */
.coImgBtn { display:flex;align-items:center;justify-content:center;width:32px;height:32px;background-color:#0082AD;border-radius:4px;cursor:pointer;margin-left:10px }

.coRow {
    width: 100%; min-height: 50px; padding-left:3px;
    display: flex; align-items: center; 
    cursor: pointer; border-bottom: 1px solid lightgray
}

.coRowLeft {
    width: 24px;
    display: flex; justify-content: center; align-items: center
}
    
.coRowMain {
    width: 100%; height: 100%;
    display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: center;
    overflow: hidden; 
}

.coRowText { /* width는 별도 지정 필요 */
    margin-left: 3px;
    display: flex; align-items: center; flex: none;
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}

.coSubMenuBtn { display:flex;align-items:center;height:32px;background-color:steelblue;color:white;border-radius:4px;padding:0px 5px;cursor:pointer;margin-left:10px }
.coMenuFlat { color:#0082AD;cursor:pointer;margin-left:10px }

.coSettingWrap { height:33px;display:flex;align-items:center;border:1px solid darkgray;border-radius:4px;cursor:pointer;padding-right:5px }
.coSettingChkbox { width:16px;height:16px;background:lightgray;outline:none;margin-left:10px } /* login dialog */
.coSettingSpan { font-size:12px;margin-left:5px }
.coSettingRow { display:flex;align-items:center;margin:20px 10px 0px 10px }
.coSettingLabel { width:90px;color:dimgray }

.coStateOut { border-radius:3px;background-color:#FD760B;font-size:9px;color:white;padding:0px 2px }
.coStateOn { border-radius:3px;background-color:#0085CD;font-size:9px;color:white;padding:0px 2px }
.coStateOff { border-radius:3px;background-color:#BDB76B;font-size:9px;color:white;padding:0px 2px }
.coStateMob { border-radius:3px;background-color:darkgreen;font-size:9px;color:white;padding:0px 2px }

@media screen and (max-device-width: 500px) { 
    .coLogin { padding-top: 50px; display: flex; flex-direction: column; justify-content: flex-start; } /* login.html : 모바일인 경우 키보드 올라오는 경우 대비해 상단 배치 */
    .coTitle { font-size:10px }
    .coText { font-size:12px }
    .coText1 { font-size:12px }
    .coMenuBtn>img { display: none } /* 모바일중에 가로가 작은 것은 이미지 제외하고 표시 (>의 앞뒤는 붙여야 함을 유의) */    
    .coImgMenu { display: none }
    input::placeholder { font-size:10px;color:lightgray }
    #in_search { width: 80px } 
}
@media screen and (min-device-width: 501px) { 
    .coTitle { font-size:16px }
    .coText { font-size:14px }
    .coText1 { font-size:12px }
    input::placeholder { font-size:12px;color:lightgray }
    #in_search { width: 150px } 
}
